//This file contains all application-wide Sass variables.
// COLORS
$primary: #008cba;
$primary-d: #0078a0;
$accent: orange;
$danger: #E74C3C;

$black: #333;
$white: #ffffff;
$gray: #7F8C8D;

// FONTS
$ff-title: "Open Sans",
sans-serif;

$ff-base: "Noto Sans",
sans-serif;

$fs-xs: 0.75rem;
$fs-s: 0.875rem;
$fs: 1rem;
$fs-l: 1.25rem;
$fs-xl: 1.5rem;
$fs-xxl: 2rem;
$fs-xxxl: 2.5rem;

// SPACING
$space: 14px;
$space05: $space / 2;
$space2: $space * 2;
