//colors
.c-p {
	color: $primary;
}

.c-a {
	color: $accent;
}

.c-d {
	color: $danger;
}

.c-g {
	color: $gray;
}

.c-w {
	color: $white;
}

.c-b {
	color: $black;
}

.c-green {
	color: #16A085;
}
.c-orange {
	color: #D35400;
}