.btn {
	position: relative;
	display: inline-flex;
	height: 35px;
	align-items: center;
	justify-content: center;
	min-width: 100px;
	text-align: center;
	font-family: $ff-title;
	font-size: $fs-s;
	letter-spacing: 1px;
	background: $primary;
	color: $white;
	border: none;
	border-radius: 1px;
	cursor: pointer;
	transition: all 0.3s;
	text-transform: uppercase;
	line-height: 1;
	padding: 0 12px;
	&:hover,
	&:focus {
		background: $primary-d;
	}
}

// disabled
.btn[disabled] {
	background: $black;

	cursor: not-allowed;
	opacity: 0.3;
}

// colors
.btn.m_danger {
	background: $danger;
	&:hover {
		opacity: 0.8;
	}
}

.btn.m_accent {
	background: $accent;
	&:hover {
		opacity: 0.8;
	}
}

.btn.m_black {
	background: $black;
	&:hover {
		opacity: 0.8;
	}
}

.btn.m_gray {
	background: $gray;
	&:hover {
		opacity: 0.8;
	}
}

// sizes
.btn.m_big {
	min-width: 120px;
	font-size: $fs-l;
}

.btn.m_small {
	min-width: 80px;
	font-size: $fs-xs;
}
.btn._w100p {
	min-width: 100%;
}
