.request-info {
	padding:  0 0 12px 0;
	border-radius: 3px;
	p {
		text-align: left;
		margin-top: 0;
	}
	h1 {
		text-align: left;
	    font-size: 16px;
	    margin: 3px 0;
	    cursor: pointer;
	    display: flex;
	    text-transform: none;
		@include bp-max(sm) {
	    	font-size: 14px;
		}
	    a {
	    	flex-grow: 1;
	    	color: $primary;
	    	text-overflow: ellipsis;
	    	overflow: hidden;
		    &:hover {
		    	color: $primary-d;
		    }
	    }
	    span {
			text-transform: uppercase;
			font-family: $ff-title;
	    }
	}
}
.requests-on-landing {
	border-top: 1px solid #BDC3C7;
	margin-top: 24px;
}
.request-landing {
	padding: 12px;
	position: relative;
	background: #fff; 
	margin-bottom: 12px;
    box-shadow: 1px 1px 4px #595959;
    cursor: pointer;
    border-bottom: 1px solid #BDC3C7;
    border-radius: 3px;

	h1 {
		text-align: left;
	    font-size: 16px;
	    margin: 3px 0;
	    cursor: pointer;
	    display: flex;
	    text-transform: none;
		@include bp-max(sm) {
	    	font-size: 14px;
		}
	    div {
	    	flex-grow: 1;
	    	text-overflow: ellipsis;
	    	overflow: hidden;
	    }
	}
	&_close {
		position: absolute;
		right: 4px;
		bottom: 2px;
		cursor: pointer;
		font-size: 16px;
		color: #7F8C8D;
		&:hover {
			color: $danger;
		}
	}
	&_total {
		margin-top: -8px;
    	margin-left: -3px;
	}
	p {
    	margin: 10px 0 6px;
	}
	&:hover {
		background: #ECF0F1;
	}
	&_data {
		display: flex;
		justify-content: space-between;;
		font-size: 11px;
		text-transform: uppercase;
		color: $gray;
	}
}
.request-land-ratings {
	text-transform: uppercase;
	font-weight: bold;
		@include bp-max(sm) {
			display: flex;
	    	font-size: 11px;
	    	flex-wrap: wrap;
	    	&>span {
	    		width: 50%;
	    		margin: 0;
	    	}
		}
}