.topbar {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	height: 45px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	background: #333;
	color: #fff;
	border-bottom: 1px solid #ECF0F1;
}
.tb-right {
	display: inline-flex;
}
.tb-fake {
	width: 60px;
	@include bp-max(sm) {
		display: none;
	}
}
.tb-btn {
	width: 160px;
	display: inline-flex;
	align-items: center;
	vertical-align: top;
	justify-content: center;
	background: $primary;
	height: 44px;
	text-transform: uppercase;
	cursor: pointer;
	padding-bottom: 2px;
	&:hover {
		background: $primary-d;
	}
	@include bp-max(sm) {
		width: 100px;
    	text-align: center;
	}
	&._log {
		width: 60px;
		background: #E74C3C;
		text-decoration: none;
		font-size: 18px;
    	padding: 3px 0 0 3px;

		&:hover {
			background: #C0392B;
			text-decoration: none;
		}
	}
}
.tb-logobox {
	width: 220px;
	padding-left: 12px;
	@include bp-max(sm) {
		width: 100px;
		padding-left: 6px;
	}
	img {
		max-height: 38px;
	}
}

.tb-login-links {
	text-transform: uppercase;
	.tb-link {
		cursor: pointer;
		&:hover {
			color: #efd47e;
		}
	}
}