<scroll>
	<box class="main-box">
		<row class="p-cel userAdmin__items">
			<cel>avatar</cel>
			<cel>email</cel>
			<cel>name</cel>
			<cel ng-if="u.is.super_admin">admin</cel>
			<cel ng-if="u.is.super_admin">delete</cel>
			<cel ng-if="u.is.super_admin">new pass</cel>
			<cel>Kind</cel>
		</row>
		<row class="userAdmin__edits" ng-repeat="user in u.users">
			<div class="p-cel info">
				<cel class="info-foto">
					<img ng-src="{{user.avatarUrl}}" alt="">
				</cel>
				<div class="d-flex flex-d-column info-box">
					<cel>{{user.email}}</cel>
					<cel>{{user.name}}</cel>
				</div>
			</div>

			<cel class="p-cel" ng-if="u.is.super_admin">
				<button class="btn" ng-click="user.is.admin=!user.is.admin; u.update(user);"><span ng-if="!user.is.admin">Make</span><span ng-if="user.is.admin">Remove</span> Admin</button>
			</cel>
			<cel class="p-cel" ng-if="u.is.super_admin">
				<button class="btn" ng-click="u.delete(user)" ng-if="u._id != user._id">Delete</button>
			</cel>
			<cel class="p-cel" ng-if="u.is.super_admin">
				<form ng-submit='u.changePassword(user)'>
					<input class="input" type="password" placeholder="new pass" ng-model="user.newPass" autocomplete="new-password">
					<button class="btn" type="submit">Change</button>
				</form>
			</cel>

			<cel class="p-cel">
				<label ng-repeat="kind in u.architect">
					<h3>{{kind.name}}</h3>
					<input type="text" ng-model="user.kind[kind.name]" ng-if="kind.what=='text'" ng-change="u.updateAfterWhile(user)">
					<input type="checkbox" ng-model="user.kind[kind.name]" ng-if="kind.what=='bool'" ng-change="u.update(user)">
					<input type="number" ng-model="user.kind[kind.name]" ng-if="kind.what=='number'" ng-change="u.updateAfterWhile(user)">
				</label>
			</cel>

		</row>
	</box>
</scroll>