// This file contains very basic styles.
//Set up a decent box model on all element
html,
*,
*:before,
*:after {
	box-sizing: border-box;
}

// remove all outline effects
* {
	outline: 0;
}

html {
	width: 100%;
	height: 100%;

	font-size: 14px;
	@include bp-max(sm) {
		font-size: 12px;
	}
}

body {
	display: table;

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-top: 45px;

	cursor: default;
	letter-spacing: 0.01em;

	font-family: $ff-base;
	line-height: 1.4;

	color: $black;
	overflow: hidden;
    background: #56CCF2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.body-part {
    width: 100vw;
    height: calc(100vh - 45px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;

	&_top {
		flex-grow: 1;
		padding: 24px;
		@include bp-max(sm) {
			padding: 24px 12px;
		}
	}
	&_bot {
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		padding: 0 8px 4px;
		a {
			b {
				font-weight: 600;
			}
			&:hover {
				color: #ECF0F1;
				cursor: pointer;
			}
		}
	}
}

.welcome-section {
	background: #fff;
	min-height: 200px;
    width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	@include bp-max(sm) {
	}
}

.requests-filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	@include bp-max(sm) {
		flex-direction: column;
		align-items: flex-start;
	}
	select {
		max-width: 320px;
		@include bp-max(sm) {
			max-width: 100%;
			margin-top: 12px;
		}
	}
}