// This file contains very basic styles.
//Set up a decent box model on all element
html,
*,
*:before,
*:after {
	box-sizing: border-box;
}

// remove all outline effects
* {
	outline: 0;
}

html {
	width: 100%;
	height: 100%;

	font-size: 14px;
	@include bp-max(sm) {
		font-size: 12px;
	}
}

body {
	display: table;

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-top: 45px;

	cursor: default;
	letter-spacing: 0.01em;

	font-family: $ff-base;
	line-height: 1.4;

	color: $black;
    background: #56CCF2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.body-part {
	padding: 24px;
    width: 100vw;

	@include bp-max(sm) {
		padding: 7px;
	}
}

.welcome-section {
	background: #fff;
	min-height: 200px;
    width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	@include bp-max(sm) {
		margin-left: -7px;
		margin-top: -7px;
	}
}