<!DOCTYPE html>
<html ng-app="ngapp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block header %}
		<title>Web Feedback</title>
		<meta name="description" content="Initial waw client under angular 1.x and scss.">
		<meta name="keywords" content="waw, waw framework">
		<meta name="author" content="Honchar Denys">
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="/gen/public.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78236546-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-78236546-13');
	</script>

</head>
<body>
	<box class="container">
		<row class="row">
			{% block topbar %}
			<box ng-controller="main" class="topbar-container">
				<lma class="topbar-logo"><a href="/">WEB Feedback</a></lma>
				{% if !user %}
					<!-- <cma class="auth-btn"><a href="/Login">Login</a></cma> -->
					 <cma  class="auth-btn" ng-click="login();"><a href="">Login</a></cma> 
					<!-- <cma  class="auth-btn"><a href="/Sign">Sign Up</a></cma> -->
					<cma class="auth-btn" ng-click="sign();"><a >Sign Up</a></cma>
				{% endif %}
				
				{% if user %}
					<div>
						<button ng-click="createReq()" >Create Request</button>
					</div>
					<cma class="d-flex top-nav-menu">
						<box ng-click="btn = !btn" ng-class="{'nav-active' : btn}" class="d-flex top_profile">
							<cma class="top_profile__name"><span>{{{user.name}}}</span></cma>
							<cma class="top_profile__avatar">
								<img src="{{{user.avatarUrl}}}" alt="User Face">
							</cma>
							<div ng-class="{'arrow-active' : btn}" class="top_profile__arrow"><i class="icon icon-arrow"></i></div>
						</box>
						
						<box ng-class="{'active' : btn}" class="top_profile_menu">
							<row class="profile__edit"><a href="/MyProfile">My Profile</a></row>
							<row class="profile__logout"><a href="/api/user/logout">Log Out</a></row>
						</box>

					</cma>
				{% endif %}
			</box>
			{% endblock %}
		</row>
		

		<row class="row">
			{% block body %}{% endblock %}
		</row>
	</box>
	<!-- Script -->
	{% block script %}
		<script src="/gen/public-min.js"></script>
		<script>
			var app = angular.module('ngapp',['wcom']);
			app.controller('main', function($scope, $http, modal, mongo){
				$scope.login = function() {
	                modal.open({
	                    templateUrl: '/html/public/Login.html'
	                });
	            }
				$scope.sign = function() {
	                modal.open({
	                    templateUrl: '/html/public/Sign.html'
	                });
	            }
	            $scope.request = function() {
	                modal.open({
	                    templateUrl: '/html/public/Request.html'
	                });
	            }
	            $scope.createReq = function() {
	                modal.open({
	                    templateUrl: '/html/public/createReq.html'
	                });
	            }
			});
		</script>
		<script src="/js/wcom/wcom.js"></script>
		<script src="/js/crud.js"></script>
		<script src="/js/public.js"></script>
	{% endblock %}
</body>
</html>