<!DOCTYPE html>
<html ng-app="ngapp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block header %}
		<title>Web Feedback</title>
		<meta name="description" content="Initial waw client under angular 1.x and scss.">
		<meta name="keywords" content="waw, waw framework">
		<meta name="author" content="Honchar Denys">
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="/gen/public.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78236546-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-78236546-13');
	</script>

</head>
<body>
	{% block topbar %}
	<div class="topbar">
		<div class="tb-logobox"><a href="/">WAW LOGO</a></div>
		{% if !user %}
			<span class="tb-login-links">
				<span ng-controller="main" ng-click="login();">login</span>
				<span class="ml05 mr05">/</span>
				<span ng-controller="main" ng-click="sign();">Sign Up</span>
			</span>
		{% endif %}
		<div class="tb-btn">Request feedack</div>
		{% if user %}
			<div class="d-flex top-nav-menu">

				<div ng-click="btn = !btn" ng-class="{'nav-active' : btn}" class="d-flex top_profile">
					<div class="top_profile__name"><span>{{{user.name}}}</span></div>
					<div class="top_profile__avatar">
						<img src="{{{user.avatarUrl}}}" alt="User Face">
					</div>
					<div ng-class="{'arrow-active' : btn}" class="top_profile__arrow"><i class="icon icon-arrow"></i></div>
				</div>
				
				<div ng-class="{'active' : btn}" class="top_profile_menu">
					{% if user&&user.is.admin %}
						<div><a href="/Admin">Admin</a></div>
					{% endif %}
					<div class="profile__edit"><a href="/MyProfile">My Profile</a></div>
					<div class="profile__logout"><a href="/api/user/logout">Log Out</a></div>
				</div>

			</div>
		{% endif %}
	</div>
	{% endblock %}
	<div class="body-part">
		{% block body %}{% endblock %}
	</div>
	<!-- Script -->
	{% block script %}
		<script src="/gen/public-min.js"></script>
		<script>
			var app = angular.module('ngapp',['wcom']);
			app.controller('main', function($scope, $http, modal, mongo){
				$scope.login = function() {
	                modal.open({
	                    templateUrl: '/html/public/Login.html'
	                });
	            }
				$scope.sign = function() {
	                modal.open({
	                    templateUrl: '/html/public/Sign.html'
	                });
	            }
			});
		</script>
		<script src="/js/wcom/wcom.js"></script>
		<script src="/js/crud.js"></script>
		<script src="/js/public.js"></script>
	{% endblock %}
</body>
</html>