<!DOCTYPE html>
<html ng-app="ngapp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block header %}
		<title>Web Feedback</title>
		<meta name="description" content="Web feedback - it's your assistant and defender in the web space.You can leave a comment and rate or place to review the website.">
		<meta name="keywords" content="webfeedback, web feedback, sitefeedback, site feedback ,site reviewer, webreview, webrating, web reviewer, how to review the web site, web site rating, how to check a website, how to rate a website, leave the feedback about website, leave  feedback about website , website testing, rating list of website,s high rated websites, most rated websites, less rated websites, website with best ui, website with best ux, website with best performance, website with more bugs and problems, website with less bugs and problems">
		<meta name="author" content="Web Art Work Agency">
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="/gen/public.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78236546-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-78236546-13');
	</script>

</head>
<body ng-controller="main" ng-style="{opacity: 1}">

	{% block topbar %}
	<header  class="topbar">
		<div class="tb-logobox"><a href="/"><img src="/img/logo-white-small.svg" alt="logo"></a></div>
		{% if !user %}
			<span class="tb-login-links">
				<span class="tb-link" title="Show login form" ng-click="login();">login</span>
				<span class="ml05 mr05">/</span>
				<span class="tb-link" title="Show sign up form" ng-click="sign();">Sign Up</span>
			</span>
		{% endif %}
		<div class="tb-right">
		{% if user %}
			<div class="tb-btn" title="Create new request" ng-click="createReq();">Request review</div>
			<a class="tb-btn _log" title="Log Out" href="/api/user/logout"><i class="icon icon-logout"></i></a>
		{% endif %}
		{% if !user %}
			<div class="tb-fake"></div>
			<div class="tb-btn" title="Create new request" ng-click="login();">Request review</div>
		{% endif %}
		</div>

	</header>
	{% endblock %}
	<div class="body-part">
		{% block body %}{% endblock %}
	</div>
	<!-- Script -->
	{% block script %}
		<script src="/gen/public-min.js"></script>
		<script>
			var app = angular.module('ngapp',['wcom']);
			app.controller('main', function($scope, $http, modal, mongo, User, Request){
				setTimeout(function(){ 
					if(location.hash){
						var id = location.hash.slice(3);
						for (var i = 0; i < Request.requests.length; i++) {
							if(id==Request.requests[i]._id){
								var view = true;
				            	if(User._id==Request.requests[i].author){
				            		view = false;
				            	}
				            	for (var j = 0; j < Request.requests[i].feedbacks.length; j++) {
				            		if(Request.requests[i].feedbacks[j].author==User._id){
				            			view=false;
				            		}
				            	}
				                return modal.open({
				                    templateUrl: '/html/public/Request.html',
				                    request: Request.requests[i],
				                    full:true,
				                    clear: function(){
				                    	location.hash ="";
				                    },
				                    view:view
				                });
							}
						}
					}
				 }, 100);
					
				
				$scope.login = function() {
	                modal.open({
	                    templateUrl: '/html/public/Login.html',
	                    sign: function() {
			                modal.open({
			                    templateUrl: '/html/public/Sign.html'
			                });
			            }
	                });
	            }
				$scope.sign = function() {
	                modal.open({
	                    templateUrl: '/html/public/Sign.html'
	                });
	            }
	            $scope.request = function(request) {
	            	var view = true;
	            	if(User._id==request.author){
	            		view = false;
	            	}
	            	for (var i = 0; i < request.feedbacks.length; i++) {
	            		if(request.feedbacks[i].author==User._id){
	            			view=false;
	            		}
	            	}
	                modal.open({
	                    templateUrl: '/html/public/Request.html',
	                    request: request,
	                    full:true,
	                    clear: function(){
	                    	location.hash ="";
	                    },
	                    view:view
	                });
	                location.hash=request._id;
	            }
	            $scope.createReq = function() {
	                modal.open({
	                    templateUrl: '/html/public/createReq.html'
	                });
	            }
			});
		</script>
		<script src="/js/wcom/wcom.js"></script>
		<script src="/js/crud.js"></script>
		<script src="/js/public.js"></script>
	{% endblock %}
</body>
</html>