{% extends '__index.html' %}

{% block body %}
<div ng-controller="Users">

	<div class="welcome-section">Welcome section</div>
	<label>Show only my requests <input type="checkbox" ng-model="my"></label>
	<div class="requests-on-landing">
		<div class="request-landing" ng-click="request(r)" ng-repeat="r in req.requests|sort:u._id:my">
			<div class="request-landing_data">
				<div>Requested by: <b>{{u._users[r.author].nickname}}</b></div>
				<div>{{r.created|date:'dd MMM yyyy'}}</div>
			</div>
			<h1 title="Open site for review"><div>{{r.link}}</div></h1>
			<p>{{r.description}}</p>
			<div class="request-land-ratings">
				<span class="c-p mr"><span class="mr05">UI</span><span>3</span></span>
				<span class="c-green mr"><span class="mr05">UX</span><span>1.4</span></span>
				<span class="c-orange mr"><span class="mr05">Performance</span><span>3.8</span></span>
				<span class="c-d mr"><span class="mr05">Bugs</span><span>4</span></span>
			</div>
		</div>
	</div>
</div>
{% endblock %}