{% extends '__index.html' %}

{% block body %}
<div ng-controller="Users">

	<div class="welcome-section">Welcome section</div>
	<label>Show only my requests <input type="checkbox" ng-model="my"></label>
	<select class="input" name="" id="">
		<option value="Newones">New ones</option>
		<option value="Oldones">Old ones</option>
		<option value="Oldones">Best rating</option>
		<option value="Oldones">Worst rating</option>
		<option value="BestUI">Best UI</option>
		<option value="BestUX">Best UX</option>
		<option value="BestPerformance">Best Performance</option>
		<option value="LessBugs">Less Bugs</option>
		<option value="WorstUI">Worst UI</option>
		<option value="WorstUX">Worst UX</option>
		<option value="WorstPerformance">Worst Performance</option>
		<option value="MoreBugs">More Bugs</option>
	</select>
	<div class="requests-on-landing">
		<div class="request-landing"  ng-repeat="r in req.requests|sort:u._id:my">
			<div ng-click="req.delete(r);">X</div>
			<div ng-click="request(r)">
				<div class="request-landing_data">
					<div>Requested by: <b>{{u._users[r.author].nickname}}</b></div>
					<div>{{r.created|date:'dd MMM yyyy'}}</div>

				</div>
				<h1 title="Open site for review"><div>{{r.link}}</div></h1>
				<p>{{r.description}}</p>
				<div class="request-land-ratings">
					<span class="c-p mr"><span class="mr05">UI</span><span>{{r.averUi}}</span></span>
					<span class="c-green mr"><span class="mr05">UX</span><span>{{r.averUx}}</span></span>
					<span class="c-orange mr"><span class="mr05">Performance</span><span>{{r.averSpeed}}</span></span>
					<span class="c-d mr"><span class="mr05">Bugs</span><span>{{r.averBugs}}</span></span>
					<span class="c-z mr"><span class="mr05">TOTAL</span><span>{{(r.averBugs+r.averUi+r.averUx+r.averSpeed)/4}}</span></span>
				</div>
			</div>
			
		</div>
	</div>
</div>
{% endblock %}