<!-- request description -->
<div>
	<a href="{{request.link}}">{{request.link}}</a> <br>
	{{request.description}}
</div>


<!-- feedback form -->
<div ng-if="view" >
	<h3>UI</h3>
	<fieldset class="rating">
	    <input type="radio" id="star5" name="setUIrating" ng-model="feedback.ui" ng-value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
	    <input type="radio" id="star4half" name="setUIrating" ng-model="feedback.ui" ng-value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
	    <input type="radio" id="star4" name="rating" ng-model="feedback.ui" ng-value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
	    <input type="radio" id="star3half" name="setUIrating" ng-model="feedback.ui" ng-value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
	    <input type="radio" id="star3" name="setUIrating" ng-model="feedback.ui" ng-value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
	    <input type="radio" id="star2half" name="setUIrating" ng-model="feedback.ui" ng-value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
	    <input type="radio" id="star2" name="setUIrating" ng-model="feedback.ui" ng-value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
	    <input type="radio" id="star1half" name="setUIrating" ng-model="feedback.ui" ng-value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
	    <input type="radio" id="star1" name="setUIrating" ng-model="feedback.ui" ng-value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
	    <input type="radio" id="starhalf" name="setUIrating" ng-model="feedback.ui" ng-value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
	</fieldset>
	<textarea name="" id="" cols="30" rows="10" ng-model="feedback.uicomment"></textarea>

	<h3>UX</h3>
	<fieldset class="rating">
	    <input type="radio" id="star52" name="setUXrating" ng-model="feedback.ux" ng-value="5" /><label class = "full" for="star52" title="Awesome - 5 stars"></label>
	    <input type="radio" id="star4half2" name="setUXrating" ng-model="feedback.ux" ng-value="4.5" /><label class="half" for="star4half2" title="Pretty good - 4.5 stars"></label>
	    <input type="radio" id="star42" name="setUXrating" ng-model="feedback.ux" ng-value="4" /><label class = "full" for="star42" title="Pretty good - 4 stars"></label>
	    <input type="radio" id="star3half2" name="setUXrating" ng-model="feedback.ux" ng-value="3.5" /><label class="half" for="star3half2" title="Meh - 3.5 stars"></label>
	    <input type="radio" id="star32" name="setUXrating" ng-model="feedback.ux" ng-value="3" /><label class = "full" for="star32" title="Meh - 3 stars"></label>
	    <input type="radio" id="star2half2" name="setUXrating" ng-model="feedback.ux" ng-value="2.5" /><label class="half" for="star2half2" title="Kinda bad - 2.5 stars"></label>
	    <input type="radio" id="star22" name="setUXrating" ng-model="feedback.ux" ng-value="2" /><label class = "full" for="star22" title="Kinda bad - 2 stars"></label>
	    <input type="radio" id="star1half2" name="setUXrating" ng-model="feedback.ux" ng-value="1.5" /><label class="half" for="star1half2" title="Meh - 1.5 stars"></label>
	    <input type="radio" id="star12" name="setUXrating" ng-model="feedback.ux" ng-value="1" /><label class = "full" for="star12" title="Sucks big time - 1 star"></label>
	    <input type="radio" id="starhalf2" name="setUXrating" ng-model="feedback.ux" ng-value="0.5" /><label class="half" for="starhalf2" title="Sucks big time - 0.5 stars"></label>
	</fieldset>
	<textarea name="" id="" cols="30" rows="10" ng-model="feedback.uxcomment"></textarea>

	<h3>Performance</h3>
	<fieldset class="rating">
	    <input type="radio" id="star53" name="setSpeedrating" ng-model="feedback.speed" ng-value="5" /><label class = "full" for="star53" title="Awesome - 5 stars"></label>
	    <input type="radio" id="star4half3" name="setSpeedrating" ng-model="feedback.speed" ng-value="4.5" /><label class="half" for="star4half3" title="Pretty good - 4.5 stars"></label>
	    <input type="radio" id="star43" name="setSpeedrating" ng-model="feedback.speed" ng-value="4" /><label class = "full" for="star43" title="Pretty good - 4 stars"></label>
	    <input type="radio" id="star3half3" name="setSpeedrating" ng-model="feedback.speed" ng-value="3.5" /><label class="half" for="star3half3" title="Meh - 3.5 stars"></label>
	    <input type="radio" id="star33" name="setSpeedrating" ng-model="feedback.speed" ng-value="3" /><label class = "full" for="star33" title="Meh - 3 stars"></label>
	    <input type="radio" id="star2half3" name="setSpeedrating" ng-model="feedback.speed" ng-value="2.5" /><label class="half" for="star2half3" title="Kinda bad - 2.5 stars"></label>
	    <input type="radio" id="star23" name="setSpeedrating" ng-model="feedback.speed" ng-value="2" /><label class = "full" for="star23" title="Kinda bad - 2 stars"></label>
	    <input type="radio" id="star1half3" name="setSpeedrating" ng-model="feedback.speed" ng-value="1.5" /><label class="half" for="star1half3" title="Meh - 1.5 stars"></label>
	    <input type="radio" id="star13" name="setSpeedrating" ng-model="feedback.speed" ng-value="1" /><label class = "full" for="star13" title="Sucks big time - 1 star"></label>
	    <input type="radio" id="starhalf3" name="setSpeedrating" ng-model="feedback.speed" ng-value="0.5" /><label class="half" for="starhalf3" title="Sucks big time - 0.5 stars"></label>
	</fieldset>
	<textarea name="" id="" cols="30" rows="10" ng-model="feedback.speedcomment"></textarea>

	<h3>Bugs and problems</h3>
	<fieldset class="rating">
	    <input type="radio" id="star54" name="setBugsrating" ng-model="feedback.bugs" ng-value="5" /><label class = "full" for="star54" title="Awesome - 5 stars"></label>
	    <input type="radio" id="star4half4" name="setBugsrating" ng-model="feedback.bugs" ng-value="4.5" /><label class="half" for="star4half4" title="Pretty good - 4.5 stars"></label>
	    <input type="radio" id="star44" name="setBugsrating" ng-model="feedback.bugs" ng-value="4" /><label class = "full" for="star44" title="Pretty good - 4 stars"></label>
	    <input type="radio" id="star3half4" name="setBugsrating" ng-model="feedback.bugs" ng-value="3.5" /><label class="half" for="star3half4" title="Meh - 3.5 stars"></label>
	    <input type="radio" id="star34" name="setBugsrating" ng-model="feedback.bugs" ng-value="3" /><label class = "full" for="star34" title="Meh - 3 stars"></label>
	    <input type="radio" id="star2half4" name="setBugsrating" ng-model="feedback.bugs" ng-value="2.5" /><label class="half" for="star2half4" title="Kinda bad - 2.5 stars"></label>
	    <input type="radio" id="star24" name="setBugsrating" ng-model="feedback.bugs" ng-value="2" /><label class = "full" for="star24" title="Kinda bad - 2 stars"></label>
	    <input type="radio" id="star1half4" name="setBugsrating" ng-model="feedback.bugs" ng-value="1.5" /><label class="half" for="star1half4" title="Meh - 1.5 stars"></label>
	    <input type="radio" id="star14" name="setBugsrating" ng-model="feedback.bugs" ng-value="1" /><label class = "full" for="star14" title="Sucks big time - 1 star"></label>
	    <input type="radio" id="starhalf4" name="setBugsrating" ng-model="feedback.bugs" ng-value="0.5" /><label class="half" for="starhalf4" title="Sucks big time - 0.5 stars"></label>
	</fieldset>
	<textarea name="" id="" cols="30" rows="10" ng-model="feedback.bugscomment"></textarea>
	<button ng-controller="Users" ng-click="req.updateFeedback(request, feedback, u._id); view=false;" class="btn">Save</button>

</div>


<!-- feedbacks repeat -->
<div ng-repeat="f in request.feedbacks">
	<div ng-controller="Users">{{u._users[f.author].nickname}}</div>
	<h3>UI</h3>
	<div class="star-ratings-css">
	  <div class="star-ratings-css-top" ng-style="{'width':f.ui/5*100+'%'}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>

	  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
	</div>
	<div>{{f.uicomment}}</div>

	<h3>UX</h3>
	<div class="star-ratings-css">
	  <div class="star-ratings-css-top" ng-style="{'width':f.ux/5*100+'%'}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>

	  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
	</div>
	<div>{{f.uxcomment}}</div>

	<h3>Performance</h3>
	<div class="star-ratings-css">
	  <div class="star-ratings-css-top" ng-style="{'width':f.speed/5*100+'%'}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>

	  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
	</div>
	<div>{{f.speedcomment}}</div>

	<h3>Bugs and problems</h3>
	<div class="star-ratings-css">
	  <div class="star-ratings-css-top" ng-style="{'width':f.bugs/5*100+'%'}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>

	  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
	</div>
	<div>{{f.bugscomment}}</div>


</div>